<div class="container">
  <div class="buttons">
    <button (click)="setActiveDataSet('americas')" [class.active]="activeDataSet === 'americas'">Americas</button>
    <button (click)="setActiveDataSet('asia')" [class.active]="activeDataSet === 'asia'">Asia</button>
  </div>

  <div *ngIf="activeDataSet === 'americas'">
    <app-reusable-table [data]="americasData?.listCompanies ?? []" [columns]="americasColumns" [tableTitle]="activeTitle" [tableSubHeading]="activeSubHeading"></app-reusable-table>
  </div>

  <div *ngIf="activeDataSet === 'asia'">
    <app-reusable-table [data]="asiaData?.listCompanies ?? []" [columns]="asiaColumns" [tableTitle]="activeTitle" [tableSubHeading]="activeSubHeading"></app-reusable-table>
  </div>
</div>
